
body {

    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: black;

}

.dipo {

    background-color: aqua;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

.chack {

    background-color: aqua;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

.withdo {

    background-color: aqua;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

.type_input {

    padding: 5px;
    border-radius: 10px;
    margin: 20px;

}

.pyment_btn {

    background-color: rgb(168, 240, 216);
    padding: 10px;
    border-radius: 10px;
    

}

.login_input {

    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border-color: aqua;

}

.login-button {

    width: 100px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: aqua;

}